<% @page_title = "Join #{Account.sole.name}" %>

<div class="panel panel--centered flex flex-column gap-half">
  <header>
    <h1 class="txt-x-large font-weight-black margin-none">
      <%= @page_title %>
    </h1>
    <p class="margin-none-block-start">Enter your name to continue</p>
  </header>

  <%= form_with scope: "user", url: users_path(membership: params[:membership]), class: "flex flex-column gap txt-medium", data: { controller: "form" } do |form| %>
    <div class="flex align-center gap">
      <label class="flex align-center gap input input--actor">
        <%= form.text_field :name, class: "input full-width", autocomplete: "name", placeholder: "Name", autofocus: true, required: true, data: { "1p-ignore": true } %>
        <%= icon_tag "person", class: "txt-large" %>
      </label>
    </div>

    <button type="submit" id="log_in" class="btn btn--link center" data-form-target="submit">
      <span>Join</span>
      <%= icon_tag "arrow-right" %>
    </button>
  <% end %>
</div>

<% content_for :footer do %>
  <%= render "sessions/footer" %>
<% end %>
