<% bucket_view ||= Bucket::View.new %>

<%= bucket_view_form_tag bucket_views_path(bucket), method: :post, id: dom_id(bucket_view, :new_form) %>

<% if bucket_view.persisted? %>
  <%= bucket_view_form_tag bucket_view_path(bucket, bucket_view), method: :put, id: dom_id(bucket_view, :edit_form) %>
  <%= bucket_view_form_tag bucket_view_path(bucket, bucket_view), method: :delete, id: dom_id(bucket_view, :delete_form) %>
<% end %>

<%= button_tag type: :submit, form: dom_id(bucket_view, :new_form), class: "btn", style: "font-size: 0.4em;" do %>
  <%= image_tag "add.svg", aria: { hidden: true }, size: 24 %>
  <span class="txt-small">New</span>
<% end %>

<% if bucket_view.persisted? %>
  <%= button_tag type: :submit, form: dom_id(bucket_view, :edit_form), class: "btn", style: "font-size: 0.4em;" do %>
    <%= image_tag "pencil.svg", aria: { hidden: true }, size: 24 %>
    <span class="txt-small">Update</span>
  <% end %>

  <%= button_tag type: :submit, form: dom_id(bucket_view, :delete_form), class: "btn", style: "font-size: 0.4em;" do %>
    <%= image_tag "alert.svg", aria: { hidden: true }, size: 24 %>
    <span class="txt-small">Delete</span>
  <% end %>
<% end %>
